.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

/bin/
/gradlew
/gradlew.bat
/gradle-wrapper.jar
/gradle-wrapper.properties
gradle/

